*.VC.opendb
Debug/PersManager.exe
Debug/PersManager.ilk
Debug/PersManager.pdb
PersManager/Debug/Application.obj
PersManager/Debug/Core.obj
PersManager/Debug/DebugInfo.obj
PersManager/Debug/Math.obj
PersManager/Debug/PersManager.Build.CppClean.log
PersManager/Debug/PersManager.log
PersManager/Debug/PersManager.tlog/CL.command.1.tlog
PersManager/Debug/PersManager.tlog/CL.read.1.tlog
PersManager/Debug/PersManager.tlog/CL.write.1.tlog
PersManager/Debug/PersManager.tlog/link.command.1.tlog
PersManager/Debug/PersManager.tlog/link.read.1.tlog
PersManager/Debug/Screen.obj
PersManager/Debug/main.obj
PersManager/Debug/vc140.idb
PersManager/Debug/vc140.pdb
